// Font
$segoe-light: 'Segoe UI Light', 'Open Sans', Helvetica, sans-serif;
// Colors
$glow-purple: 0 0 10px 0 #993fff,0 0 1px 1px #8a23ff,inset 0 0 2px 0 #993fff,inset 0 0 1px 0 #8a23ff;
$glow-red: 0 0 10px 0 #ff3f3f,0 0 1px 1px #ff2222,inset 0 0 2px 0 #ff3f3f,inset 0 0 1px 0 #ff2222;
$glow-red-hover: 0 0 25px 0 #ff3f3f,0 0 4px 1px #ff2222,inset 0 0 20px 0 #ff3f3f,inset 0 0 2px 0 #ff2222;

.home {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  flex-direction: column;
  font-family: $segoe-light;

  .player-infos {
    display: flex;
    height: 35%;
    width: 25em;
    flex-direction: column;
    justify-content: space-around;

    .input {
      color: #B370FF;
    }

    .button {
      color: #ff7070;
      cursor: pointer;
      font-size: 1.3em;
      transition: all 0.05s;
      font-weight: lighter;
      text-transform: uppercase;
    }

    .button:hover {
      transition: all 0.3s;
      box-shadow: $glow-red-hover;
    }

    .form {
      position: relative;
      display: flex;
      height: 4em;
      align-items: center;
      flex-direction: row;
      justify-content: center;
    }

    .form:before {
      position: absolute;
      content: "";
      z-index: 1;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: 8px;
      border: 2px solid #fff;
    }

    input {
      font-size: 1.3em;
      border: none;
      z-index: 2;
      text-align: center;
      background-color: transparent;
    }

    .glow-purple:before {
      border-color: #b370ff;
      box-shadow: $glow-purple;
    }

    .glow-red:before {
      border-color: #ff7070;
      box-shadow: $glow-red;
    }
  }
}
