// Style dependencies for header
@import url(https://fonts.googleapis.com/css?family=Monoton);

.head-container {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;

  .neon-border {
    position: relative;
    width: 50em;
    color: #fff;
    margin-top: 2em;
    overflow: visible;
    text-align: center;
  }

  .neon-border:before {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 8px;
    border: 2px solid #fff;
    animation: glowing 6000ms infinite;
  }

  .glow-blue:before {
    border-color: #bde1ff;
    box-shadow: 0 0 15px 4px #0080e2,0 0 120px 2px #004097,inset 0 0 15px 4px #0080e2,inset 0 0 100px 2px #004097;
  }

  .glow-pink {
    color: #ffbde5;
    font-family: 'Monoton';
    font-size: 5em;
    text-shadow: 0 0 10px #ed1cdc, 0 0 20px #ed1cdc,0 0 30px #ed1cdc,0 0 40px #790072,0 0 70px #790072;
  }
}
@keyframes glowing {
  0% {
    border-color: inherit;
    box-shadow: inherit;
  }

  20% {
    border-color: #bde1ff;
    box-shadow: 0 0 15px 4px #0080e2,0 0 120px 2px #004097,inset 0 0 15px 4px #0080e2,inset 0 0 100px 2px #004097;
  }

  40% {
    border-color: #bde1ff;
    box-shadow: 0 0 15px 4px #0080e2,0 0 120px 2px #004097,inset 0 0 15px 4px #0080e2,inset 0 0 100px 2px #004097;
  }

  60% {
    border-color: #bde1ff;
    box-shadow: 0 0 15px 4px #0080e2,0 0 120px 2px #004097,inset 0 0 15px 4px #0080e2,inset 0 0 100px 2px #004097;
  }

  80% {
    border-color: #bde1ff;
    box-shadow: 0 0 15px 4px #0080e2,0 0 120px 2px #004097,inset 0 0 15px 4px #0080e2,inset 0 0 100px 2px #004097;
  }

  100% {
    border-color: inherit;
    box-shadow: inherit;
  }
}
