#tetris,
body,
html {
  display: flex;
  height: 100%;
  width: 100%;
  margin: 0;
  // Here we have our nice background application configuration
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/assets/background.gif");
}

.app {
  position: relative;
  display: flex;
  width: 100%;
  flex-direction: column;

  .navigation-button {
    display: flex;
    width: 100%;
    height: 15em;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    font-family: segoeuilight;

    .button {
      width: 10em;
      height: 3em;
      border: none;
    }
  }
}
